/* цвет основного текста #212121; */

/* вторичный цвет текста #757575; */

/* белый #ffffff; */

/* акцент #2196f3; */

/* цвет текста контактов в футере rgba(255, 255, 255, 0.6); */

/* цвет фона #ffffff; */

/* вторичный цвет фона #f5f4fA; */

/* Цвет Футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-info: rgba(255, 255, 255, 0.6);
  --footer-copyright-color: rgba(255, 255, 255, 0.4);
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.images {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.section-portf {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-nopb {
  padding-top: 94px;
  padding-bottom: 0;
}

.logo-web {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Навигация */

.container.main {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 85px;
}

.nav .item + .item {
  margin-left: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transition: transform 250ms var(--timing-function);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transform: scaleX(1);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-icon {
  margin-right: 10px;
  width: 17px;
  height: 16px;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts-icon:hover {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--white-color);
}

/* Button */

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;

  color: var(--white-color);
  background: var(--accent-color);
}

/* Преимущества */

.invisible-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.features {
  display: flex;
}

.features-img {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features .features-item + .features-item {
  margin-left: 30px;
}

.features-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-text {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-text.no-margin {
  margin-bottom: 0;
}

/* Услуги */

.services {
  position: relative;
  display: flex;
}

.services-bgc {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.services-bgc {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.services {
  display: flex;
}

.services .services-item + .services-item {
  margin-left: 30px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.services-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

/* Команда */

.team {
  text-align: center;

  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-background-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-cards {
  display: flex;
}

.team-item:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}

.team-item {
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-post {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team-soclink {
  display: flex;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 24px;
}

.team-soclink-list:not(:last-child) {
  margin-right: 10px;
}

.team-soclink-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  padding: 0px;
  margin: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.team-soclink-icon:hover,
.team-soclink-icon:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

/* Клиенты */

.customers-div {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-item {
  display: flex;
  justify-content: center;
}

.customers-list {
  display: block;
  width: 170px;
  height: 90px;
}

.customers-list:not(:last-child) {
  margin-right: 30px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.customers-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  padding: 0px;
  margin: 0px;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.client1-icon {
  width: 45px;
  height: 45px;
}

.client2-icon {
  width: 50px;
  height: 50px;
}

.client3-icon {
  width: 45px;
  height: 45px;
}

.client4-icon {
  width: 70px;
  height: 73px;
}

.client5-icon {
  width: 50px;
  height: 60px;
}

.client6-icon {
  width: 80px;
  height: 80px;
}

/* Футер */

.footer {
  background-color: var(--footer-background-color);
}
.footer-div {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  margin-right: 69px;
}

.footer-logo-div {
  margin-top: 0;
  margin-bottom: 20px;
}

.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-links {
  margin-right: 94px;
}

.joinin {
  display: flex;
}

.joinin-list:not(:last-child) {
  margin-right: 10px;
}

.footer-text {
  margin-top: 0;
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-email {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-info {
  /* text-transform: uppercase; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-info);
}

.footer-text-joinin {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.joinin-soclink-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px;
  margin: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.joinin-soclink-icon:hover,
.joinin-soclink-icon:focus {
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-text-subscripe {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.button-footer {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 12px;
}

.footer-icon-plane {
  fill: var(--white-color);
  margin-left: 10px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

/* Портфолио */

.button-portf {
  display: inline-block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  color: var(--primary-text-color);
  background: var(--secondary-background-color);

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button-portf:hover,
.button-portf:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.works-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.works-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-links:hover .overlay-works {
  transform: translateY(0);
  transition: transform 250ms var(--timing-function);
}

.project-links:focus .overlay-works {
  transform: translateY(0);
  transition: transform 250ms var(--timing-function);
}

.project-div {
  width: 370px;
}

.works-project-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-links {
  padding-bottom: 20px;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.image-div {
  position: relative;
  overflow: hidden;
}

.overlay-works {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project-text {
  margin: 0;
  padding: 63px 24px;
}

.works-project-list:nth-child(3n) {
  margin-right: 0;
}

.works-project-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-links:hover,
.project-links:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.project-name {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-meaning {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.project-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.button-footer {
  display: inline-flex;

  padding: 10px 32px;
  /* min-width: 200px; */
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  color: var(--white-color);
  background: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: 0;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 581px;
  background-color: var(--white-color);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  margin: 0px;
  width: 16px;
  height: 11px;
  fill: black;
}

.close-icon:hover {
  fill: var(--accent-color);
}

.form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
}

.form-field {
  /* outline: 1px solid blue; */
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-modal {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form-input {
  outline: 0;
  margin: 0;
  padding: 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.textarea-field {
  outline: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-mod {
  margin-bottom: 20px;
}
]

.form-field textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-field:focus {
  border: 1px solid var(--accent-color);
}

.licence-label {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  font-style: normal;
  letter-spacing: 0.03em;
}

.modal-svg {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 15px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .modal-svg {
  fill: var(--accent-color);
}

.licence-link {
  color: var(--accent-color);
  text-decoration-line: underline;
  margin-left: 3px;
}

.licence-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
}

.button-modal {
  margin-left: 120px;
}

.footer-input {
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
